// Colors
$red: #CC1719;
$blackColor:#393B41;
$white: #FFFFFF;
$black:#393B41;
$greyColor: #F2F5F7;
$backgroundColor: white;
$title-contact-color: #393B41;
$button-contact-color:#707070;

//Other
$bg: rgb(40, 110, 250);
$menu-bg: #fff;
$menu-hover: rgba(40, 110, 250, 0.25);
$size: 5rem;
$time: 350ms;
$degree: 135deg;
$timing: ease;
$blueLink: #0f1c2e;
$silver: #edecec;

